// VERDES
$turquoise: #1abc9c;
$emerland: #2ecc71;
$greensea: #16a085;
$nephritis: #27ae60;

// Azules
$peterriver: #3498db;
$belizehole: #2980b9;

// Morados
$amethyst: #9b59b6;
$wisteria: #8e44ad;

//Azul marino
$wetasphalt: #34495e;
$midnightblue: #2c3e50;

// Naranjos
$sunflower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;

// Grises
$clouds: #ecf0f1;
$concrete: #95a5a6;
$silver: #bdc3c7;
$asbestos: #7f8c8d;